@page front-page {

size: letter;

margin-top: 1in;

background-image: url("../DITA/images/rzd.svg");

background-repeat: no-repeat;

background-position: 50% 20%;

}

*[class ~= "front-page/front-page-title"]:after(1) {
    display:block;
    content: "Сервис покупки билетов сайта rzd.ru";
    font-size: large;
    color: red;
    text-align:center;
}

*[class ~= "front-page/front-page-title"]:after(2) {
    display:block;
    content: "Руководство пользователя";
    font-size: large;
    color: red;
    text-align:center;
}

*[class ~= "front-page/front-page-title"]:after(3) {
    display:block;
    content: "Тестовая работа";
    font-size: large;
    color: red;
    text-align:center;
    font-style: italic;
}